body{
    background-color: rgb(92, 142, 234);
}




h1{
    color: rgb(241, 240, 245);
    font-size: 50px;
    font-weight: 5000;
    text-align: center;
    font-family: Georgia;
}

h2{
    color: rgb(11, 5, 33);
    font-size: 25px;
    font-weight: 5000;
    text-align: center;
}

button{
    color: rgb(5, 5, 90);
    font-size: large;
    font-weight: 900;
    background-color: aqua;
}

button:hover{
    filter:brightness(0.8);
}

.how {
    color:rgb(3, 6, 12);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.home{
    display: flex;
    justify-content: flex-end;
}

button:active {
    opacity: 0.2;
}

.images{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 400px;
}

.scuba{
    opacity: 0.8;
    width: 250px;
}

.jungle{
    opacity: 0.8;
    width: 250px;
}

.city{
    opacity: 0.8;
    width: 250px;
}

p {
    font-size: 500;
}